<!--<div class="login"  align="center">-->
<!--<div class="content">-->
<!--<div el-row class="loginContent" >-->
  <!--<el-input id="username" placeholder="输入用户名"  ></el-input>-->
<!--</div>-->

<!--<div el-row class="loginContent">-->
  <!--<el-input id="password" placeholder="输入密码" ></el-input>-->
<!--</div>-->
<!--<div el-row>-->
    <!--<el-button typeof="primary" (click)="toHome" )>登录</el-button>-->
<!--</div>-->
  <!--<div el-row>-->
    <!--<a href="">忘记密码</a>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
  <!--<app-login></app-login>-->
<!--</div>-->
<router-outlet></router-outlet>
<router-outlet></router-outlet>
